<% if current_user && current_user.admin %>

<section class="section-hero overlay inner-page bg-image" style="background-image: url(<%= asset_path 'background_header.png' %>)" id="home-section">
      <div class="container">
        <div class="row">
          <div class="col-md-7">
            <h1 class="text-white font-weight-bold">Modifier une offre d'emploi</h1>
            <div class="custom-breadcrumbs">
              <a href="/">Accueil</a> <span class="mx-2 slash">/</span>
              <span class="text-white"><strong>Modifier une offre d'emploi</strong></span>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="site-section" id="next-section">
      <div class="container">
        <div class="row">
          <div class="col-lg-6 mb-5 mb-lg-0">
            <h2>Modifier l'offre n°<%= @job.id %> de <%= @job.job_title %></h2>
            <%= form_with(url: "/jobs/#{@job.id}", method: "patch") do |f| %>
              <div class="form-group">
                  <%= label_tag("Intitulé de l'emploi") %>
                  <%= f.text_field :job_title, value: @job.job_title, class: "form-control" %>
              </div>
              <div class="form-group">
                  <%= label_tag("Catégorie de l'emploi") %>
                  <%= select_tag(:category_id, options_for_select(Category.all.map { |category| [category.category_title, category.id] }, @job.category_id), class: "form-control") %>
              </div>
              <div class="form-group">
                  <%= label_tag("Pays") %>
                  <%= select_tag(:country_id, options_for_select(Country.all.map { |country| [country.country_title, country.id]}, @job.country_id), class: "form-control") %>
              </div>
              <div class="form-group">
                  <%= label_tag("Ville") %>
                  <%= f.text_field :job_city, value: @job.job_city, class: "form-control" %>
              </div>
              <div class="form-group">
                  <%= label_tag("Salaire annuelle") %>
                  <%= f.text_field :job_salary, value: @job.job_salary, class: "form-control" %>
              </div>
              <div class="form-group">
                  <%= label_tag("Description") %>
                  <%= f.text_area :job_description, as: :ckeditor, input_html: { ckeditor: { toolbar: 'Full' } }, value: @job.job_description, class: "form-control" %>
              </div>
              <div class="form-group">
                  <%= submit_tag("Mettre à jour", class: "btn btn-primary") %>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </section>
        					  
<% else %>       

<section class="section-hero overlay inner-page bg-image" style="background-image: url(<%= asset_path 'background_header.png' %>)" id="home-section">
      <div class="container">
        <div class="row">
          <div class="col-md-7">
            <h1 class="text-white font-weight-bold">Admin</h1>
            <div class="custom-breadcrumbs">
              <a href="/">Accueil</a> <span class="mx-2 slash">/</span>
              <span class="text-white"><strong>Admin</strong></span>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="site-section" id="next-section">
      <div class="container">
        <div class="row">
          <div class="col-lg-6 mb-5 mb-lg-0">
            <h2>Oups, il n'y a rien ici.</h2>
          </div>
        </div>
      </div>
    </section>
                    
<% end %>