<section class="section-hero overlay inner-page bg-image" style="background-image: url(<%= asset_path 'background_header.png' %>)" id="home-section">
      <div class="container">
        <div class="row">
          <div class="col-md-7">
            <h1 class="text-white font-weight-bold">Post A Job</h1>
            <div class="custom-breadcrumbs">
              <a href="/">Accueil</a> <span class="mx-2 slash">/</span>
              <span class="text-white"><strong>Emplois</strong></span>
            </div>
          </div>
        </div>
      </div>
    </section>

    
    <section class="site-section" id="next">
      <div class="container">
          <div class="row">
            <div class="col-12">
              <% if notice %>
              <div class="alert alert-success text-center" role="alert">
                <%= notice %>
              </div>
              <% elsif alert %>
              <div class="alert alert-danger text-center" role="alert">
                <%= alert %>
              </div>
              <% end %>
            </div>
      </div> 

        <div class="row mb-5 justify-content-center">
          <div class="col-md-7 text-center">
            <h2 class="section-title mb-2">Offres d'emploi</h2>
          </div>
        </div>
        
        <div class="row">
          <div class="col-md-4">
            <%= form_for_filterrific @filterrific do |f| %>
              <div class="form-group">
                <%= label_tag("Recherche") %>
                <%# give the search field the 'filterrific-periodically-observed' class for live updates %>
                <%= f.text_field(
                  :search_query,
                  class: 'filterrific-periodically-observed form-control'
                ) %>
              </div>
              <div class="form-group">
                <%= label_tag("Localisation") %>
                <%# give the search field the 'filterrific-periodically-observed' class for live updates %>
                <%= f.text_field(
                  :search_city_query,
                  class: 'filterrific-periodically-observed form-control'
                ) %>
              </div>
              <div class="form-group">
                <%= label_tag("Catégorie") %>
                <%= f.select(
                  :with_category_id,
                  @filterrific.select_options[:with_category_id],
                  { include_blank: '- Tous -' }, 
                  class: "form-control"
                ) %>
              </div>
              <div class="form-group">
                Pays
                <%= f.select(
                  :with_country_id,
                  @filterrific.select_options[:with_country_id],
                  { include_blank: '- Tous -' }, 
                  class: "form-control"
                ) %>
              </div>
              <div>
                <%= link_to(
                  'Réinitialiser',
                  reset_filterrific_url,
                ) %>
              </div>
              <%# add an automated spinner to your form when the list is refreshed %>
              <%= render_filterrific_spinner %>
            <% end %>

          </div>
          <div class="col-md-8">
            <%= render(
              partial: 'jobs/list',
              locals: { jobs: @jobs }
            ) %>
          </div>
        </div>
        

      </div>
    </section>

    <section class="py-5 bg-image overlay-primary fixed overlay" style="background-image: url(<%= asset_path 'background_header.png' %>)">
      <div class="container">
        <div class="row align-items-center">
          <div class="col-md-8">
            <h2 class="text-white">Vous êtes à la recherche d'un emploi ?</h2>
            <p class="mb-0 text-white lead">Vous pouvez nous transmettre votre CV en quelques minutes.</p>
          </div>
          <div class="col-md-3 ml-auto">
            <a href="/send-cv" class="btn btn-warning btn-block btn-lg">Envoyer mon CV</a>
          </div>
        </div>
      </div>
    </section>