<section class="home-section section-hero overlay bg-image" style="background-image: url(<%= asset_path 'background_header.png' %>)" id="home-section">

      <div class="container">
        <div class="row align-items-center justify-content-center">
          <div class="col-md-12">
            <div class="mb-5 text-center">
              <h1 class="text-white font-weight-bold">Trouvez un emploi</h1>
              <p>The Easiest Way To Get Your Dream Job.</p>
            </div>
            <form method="post" class="search-jobs-form">
              <div class="row mb-5">
                <div class="col-12 col-sm-6 col-md-6 col-lg-3 mb-4 mb-lg-0">
                  <input type="text" class="form-control form-control-lg" placeholder="Poste, localisation...">
                </div>
                <div class="col-12 col-sm-6 col-md-6 col-lg-3 mb-4 mb-lg-0">
                  <input type="text" class="form-control form-control-lg" placeholder="Lieu, département, région...">
                </div>
                <div class="col-12 col-sm-6 col-md-6 col-lg-3 mb-4 mb-lg-0">
                  <select class="selectpicker" data-style="btn-white btn-lg" data-width="100%" title="Catégorie">
                    <option>VRD</option>
                    <option>HVAC</option>
                    <option>Promotion immobilière</option>
                    <option>Ouvrage d'arts</option>
                    <option>Construction générale</option>
                    <option>Structure</option>
                  </select>
                </div>
                <div class="col-12 col-sm-6 col-md-6 col-lg-3 mb-4 mb-lg-0">
                  <button type="submit" class="btn btn-primary btn-lg btn-block text-white btn-search"><span class="fas fa-search mr-2"></span>Chercher</button>
                </div>
              </div>
              
              <!-- 
              <div class="row">
                <div class="col-md-12 popular-keywords">
                  <h3>Trending Keywords:</h3>
                  <ul class="keywords list-unstyled m-0 p-0">
                    <li><a href="#" class="">UI Designer</a></li>
                    <li><a href="#" class="">Python</a></li>
                    <li><a href="#" class="">Developer</a></li>
                  </ul>
                </div>
              </div>
              -->
              
            </form>
          </div>
        </div>
      </div>

      
    </section>
    
    <section class="site-section services-section bg-light block__62849" id="next-section">
      <div class="container">
        <div class="row mb-5 justify-content-center">
          <div class="col-md-7 text-center">
            <h2 class="section-title mb-2">Catégories</h2>
          </div>
        </div>
        
        <div class="row">
          <div class="col-6 col-md-6 col-lg-4 mb-4 mb-lg-5">

            <a href="#" class="block__16443 text-center d-block">
              <%= image_tag "categorie-vrd.png", class: 'img-fluid' %>
              <h3>VRD</h3>
            </a>

          </div>
          <div class="col-6 col-md-6 col-lg-4 mb-4 mb-lg-5">
            
            <a href="#" class="block__16443 text-center d-block">
              <%= image_tag "categorie-hvac.png", class: 'img-fluid' %>
              <h3>HVAC</h3>
            </a>            

          </div>
          <div class="col-6 col-md-6 col-lg-4 mb-4 mb-lg-5">
            
            <a href="#" class="block__16443 text-center d-block">
              <%= image_tag "categorie-promotion-immobiliere2.png", class: 'img-fluid' %>
              <h3>Promotion immobilière</h3>
            </a>            

          </div>
          <div class="col-6 col-md-6 col-lg-4 mb-4 mb-lg-5">
            
            <a href="#" class="block__16443 text-center d-block">
              <%= image_tag "categorie-ouvrage-art.jpg", class: 'img-fluid' %>
              <h3>Ouvrage d'arts</h3>
            </a>

          </div>
          <div class="col-6 col-md-6 col-lg-4 mb-4 mb-lg-5">
            
            <a href="#" class="block__16443 text-center d-block">
              <%= image_tag "categorie-construction-generale.png", class: 'img-fluid' %>
              <h3>Construction générale</h3>
            </a>

          </div>
          <div class="col-6 col-md-6 col-lg-4 mb-4 mb-lg-5">
            
            <a href="#" class="block__16443 text-center d-block">
              <%= image_tag "background_header.png", class: 'img-fluid' %>
              <h3>Structures</h3>
            </a>

          </div>
        </div>

        
      </div>
    </section>
    
    <section class="site-section">
      <div class="container">
       
        
        <div class="row align-items-center">
          <div class="col-lg-6 mb-5 mb-lg-0">
            <div class="block__96788">
              <%= image_tag "about-us.jpg", class: 'img-fluid img-shadow' %>
            </div>
          </div>
          <div class="col-lg-5 ml-auto">
            <h2 class="section-title mb-3">Qui sommes-nous ?</h2>
            <p>Spécialistes par choix, nous maîtrisons les spécifités du marché ainsi que les attentes des différents acteurs du secteur.</p>
            <p>Weems & Associates Construction est un cabinet de recrutement intervenant sur les métiers de la construction dans la zone Benelux.</p>
            <p>Notre objectif principal est d’offrir à nos clients un service de qualité, répondant à leurs besoins en recrutement. La finalité étant de développer une relation pérenne avec nos partenaires.</p>
          </div>
        </div>
      </div>
    </section>
    
    <section class="site-section">
      <div class="container">
        
        <div class="row mb-5 justify-content-center">
          <div class="col-md-7 text-center">
            <h2 class="section-title mb-2">Dernières annonces</h2>
          </div>
        </div>
        
        <div class="row mb-5">
          <% @jobs.each do |job| %>
            <div class="col-md-6 col-lg-4 mb-2 border job-feature">
              <h3 class="text-black mb-2"><%= job.job_title %></h3>
              <div class="mb-5 line-job-feature"> </div>
              <div class="mb-2"><span class="text-black">Catégorie :</span> <%= job.category.category_title %></div>
              <div class="mb-2"><span class="text-black">Salaire :</span> <%= job.job_salary %>€</div>
              <div class="mb-5"><span class="text-black">Localisation :</span> <%= job.job_city %>, <%= job.country.country_title %></div>
              <a href="/jobs/<%= job.id %>" class="btn btn-primary btn-block">En savoir plus</a>
            </div>
          <% end %>
        </div>
      </div>
    </section>
    
    <section class="site-section">
      <div class="container">
        
        <div class="row mb-5 justify-content-center">
          <div class="col-md-7 text-center">
            <h2 class="section-title mb-2">Derniers articles</h2>
          </div>
        </div>
        
        <div class="row mb-5">
          <div class="col-md-6 col-lg-4 mb-5">
            <a href="#"><%= image_tag "blog-1.jpg", class: 'img-fluid rounded mb-4' %></a>
            <h3><a href="blog-single.html" class="text-black">Comment bien rédiger un CV ?</a></h3>
            <div>15 Avril 2020 <span class="mx-2">|</span> <a href="#">3 Commentaires</a></div>
          </div>
          <div class="col-md-6 col-lg-4 mb-5">
            <a href="#"><%= image_tag "blog-2.jpg", class: 'img-fluid rounded mb-4' %></a>
            <h3><a href="blog-single.html" class="text-black">Où chercher des offres d'emploi ?</a></h3>
            <div>10 Mai 2020 <span class="mx-2">|</span> <a href="#">2 Commentaires</a></div>
          </div>
          <div class="col-md-6 col-lg-4 mb-5">
            <a href="#"><%= image_tag "blog-3.jpg", class: 'img-fluid rounded mb-4' %></a>
            <h3><a href="blog-single.html" class="text-black">10 éléments à ne pas négliger sur votre CV</a></h3>
            <div>27 Mai 2020 <span class="mx-2">|</span> <a href="#">4 Commentaires</a></div>
          </div>
        </div>
      </div>
    </section>