<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>Weems</title>
    <%= csrf_meta_tags %>
    
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    
    <script src="https://kit.fontawesome.com/cd87700fc7.js" crossorigin="anonymous"></script>
  </head>

  <body id="top">

    <div class="site-wrap">
      
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="/">
          <%= image_tag "logo.png", height: 64 %>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="navbar-nav collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ml-auto">
                  <li class="nav-item">
                    <a class="nav-link" href="/">Accueil</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="/jobs">Emplois</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="/about-us">A propos de nous</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="/contacts">Contact</a>
                  </li>
                  <% if current_user && current_user.admin %>
        					  <li class="nav-item">
                      <a class="nav-link" href="/admin">Admin</a>
                    </li>
      					  <% end %>
                  <li class="nav-item button-send-cv">
                      <a href="/send-cv" class="nav-link btn btn-outline-white"><i class="fas fa-plus mr-2"></i></span>Envoyer CV</a>
                  </li>
          </ul>
        </div>
      </nav>
  
    
  
    
    <%= yield %>
    
    <footer class="site-footer">

      <div class="container">
        <div class="row text-center mb-5">
          <div class="col-12 col-md-4 mb-4 mb-md-0">
            <h3>A propos</h3>
            <p>Spécialistes par choix, nous maîtrisons les spécifités du marché ainsi que les attentes des différents acteurs du secteur.</p>
            <p>Weems & Associates Construction est un cabinet de recrutement intervenant sur les métiers de la construction dans la zone Benelux.</p>
            <p>Notre objectif principal est d’offrir à nos clients un service de qualité, répondant à leurs besoins en recrutement. La finalité étant de développer une relation pérenne avec nos partenaires...</p>
          </div>
          <div class="col-12 col-md-4 mb-4 mb-md-0">
            <h3>Candidats</h3>
            <ul class="list-unstyled">
              <li><a href="/jobs">Emplois</a></li>
              <li><a href="/send-cv">Envoyer un CV</a></li>
              <li><a href="/contacts">Contact</a></li>
            </ul>
          </div>
          <div class="col-12 col-md-4 mb-4 mb-md-0">
            <h3>Entreprises</h3>
            <ul class="list-unstyled">
              <li><a href="/contacts">Contact</a></li>
            </ul>
          </div>
        </div>

        <div class="row text-center">
          <div class="col-12">
            <div class="footer-social">
              <a href="#"><span class="fab fa-facebook-f"></span></a>
              <a href="#"><span class="fab fa-twitter"></span></a>
              <a href="#"><span class="fab fa-linkedin-in"></span></a>
            </div>
            <p class="copyright"><small>
              Créé pour Weems Builder par <a href="https://lewys.io" target="_blank">lewys.io</a>
          </div>
        </div>
      </div>
    </footer>
    </div>
  </body>
</html>
